.header {
  position: absolute;
  right: 0;
  top: 0;
  padding: 2rem;
  //padding: 2rem;
  //width: 65%;
  //padding-top: 2rem;
  //min-height: 200px;
  @include media($mobile) {
    border-bottom: 1rem dotted $medium-gray;
    padding-bottom: 1rem;
    //margin-bottom: 5em;
    left: 0;
    padding-left: 0rem;
    padding-right: 0rem;

  }

  .header-content {
    //height: 100px;
    @include display(flex);
    @include align-items(flex-start);
    @include justify-content(space-between);
    @include flex-wrap(wrap);
    @include media($mobile) {
     // @include flex-direction(column);
    }


    .nav {
      display: inline-block;
      margin-right: 3rem;
      @include align-self(center);
      @include media ($mobile) {
        margin-right: 0;
      }
    }
    .nav > ul {
      //border-bottom: 5px solid $yellow;
      @include media($mobile) {
        border-bottom: none;
        border-left: 10px solid $yellow;
      }
      li {
        display: inline-block;
        font-size: 1rem;
        font-weight: 500;
        line-height: 2.4rem;
        margin-right: 10px;
        margin-bottom: 0;
        //letter-spacing: 1px;
        @include media($mobile) {
          display: block;
          text-align: left;
          //margin: 5px;
          margin-right: 1rem;
          margin-left: 1rem;
          //margin-bottom: 1rem;
        }
        a {
          color: $dark-gray;
          text-shadow: 0 0 2px rgba($dark-gray, 0.3ы);
          &:hover, &:active, &:focus {
            color: $medium-gray;
          }
        }
      } //nav > ul > li
    } //nav
    //.top-contact {@include flex-grow(0);}
    .top-contact > ul {
      border-right: 10px solid $yellow;
      li {
        margin-right: 1em;
        display: block;
        font-size: 1rem;
        line-height: 2.4rem;
        text-shadow: 0 0 2px rgba($dark-gray, 0.3);
        font-weight: 300;
        text-align: right;
        a {
          color: $dark-gray;
          border-bottom: 1px dashed $medium-gray;
          &:hover, &:active, &:focus {
            color: $medium-gray;
          }
        }
      }
    }
  } //.header-content
} //header
