%header.header
  .header-content
    %nav.nav
      %ul
        %li= link_to 'ИНФОРМАЦИЯ', '#услуги'
        %li= link_to 'КОНТАКТЫ', '#контакты'
    .top-contact
      %ul
        %li=link_to '+7 916 716-23-45', 'callto:+79167162345'
        %li=link_to 'ram-ch@mail.ru', 'mailto:ram-ch@mail.ru'
        %li Москва и МО

