---
title: РАМ-Ч || Ремонт, строительство, благоустройство домов, участков и квартир.
---

.hero
  .banner
    #logo(style="margin-bottom:-1.8rem;")
      #square
        #triangle
        #flag
    %h1
      Рам-Ч


  %p{:itemprop => "description"} Компания ООО "РАМ-Ч" занимается комплексным благоустройством домов и прилежащих территорий, независимым сопровождением строительства, а также мелким и крупным ремонтом квартир, включая ремонт сантехники и электрики.
  %span.lead Ваш комфорт - наша задача.
%section.about-section(id='услуги')
  .landscape
    .image
      //= image_tag 'landscape2.jpg'
    //.space
    .description
      %h3 Комплексное благоустройство и строительство
      %ul
        Сюда входят все виды работ по ландшафтному дизайну и техническому оснащению приусадебных территорий, дачных участков, среди них:
        %li отделка фасадов
        %li насосные и дренажные системы, полив газонов
        %li котлы и сопутствующая электрика
        %li пруды и бассейны
        %li летние кухни и русские печи
        %li вентиляция и дымоходы.
        %li -

  .repair
    .description
      %h3 Внутренний ремонт квартир и домов, проектирование и дизайн
      %ul
        Весь спектр ремонтных работ - от сантехники до электрики, от пола до потолка:
        %li замена смесителей
        %li замена труб
        %li розетки, провода, автоматы
        %li отделка квартиры
        %li дизайн
        %li и многое-многое другое.
        %li -
    //.space
    .image
      //= image_tag 'repair.jpg'

  .overall
    .description
      %h3 Дополнительные услуги и сопутствующая информация
      %ul
        %li Мы готовы предоставить <b>независимого прораба</b> для контроля и сопровождения строительства. У вас <b>уже есть команда рабочих</b>, но вы <b>боитесь за качество работ?</b> - Наш прораб решит эту проблему.
        %li Мы можем <b>проконсультировать</b> вас по любым вопросам, входящим в спектр нашей деятельности. Консультация возможна по телефону, в нашем офисе или с выездом к вам. Стоимость консультации обсуждается индивидуально и, как правило, <b>входит в стоимость дальнейших выполненных работ.</b>
        %li В команде РАМ-Ч есть свой <b>юрист</b>, а значит - мы работаем по <b>договору</b> и предоставляем многолетнюю <b>гарантию</b> на все виды работ.


